@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app">
    <div class="loader">
        <div class="center-block">
            <img class="center-block img-responsive" src="~/img/archiverse-logo.png" />
        </div>
        <div class="center-block">
            <img class="center-block img-responsive" src="~/img/spinner.gif" />
        </div>
    </div>
</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
