@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app">
    <div class="loader">
        <div class="center-block">
            <img class="center-block img-responsive" src="~/img/archiverse-logo.png" />
        </div>
        <div class="center-block">
            <img class="center-block img-responsive" src="~/img/CoCollegeParkClassroom5030construction.gif" />
        </div>
        <div class="center-block">
            <h3>Offline while we clean up our mess. Be back soon!</h3>
        </div>
    </div>
</div>
